<div id="about-panel">
  Welcome to the website for the East Coast Militia, an elite organization 
  comprised of spring and summer tournament teams. We pride ourselves on 
  our players&apos; determination to relentlessly improve during the off&ndash;season 
  and on their desire to achieve every time they touch the ice. The oldest 
  Militia team &mdash; 1992 birth&ndash;years &mdash; is comprised of NHL draft picks and the Northeast&apos;s 
  very top prospects. The younger players within the Militia (as young as 1999 
  birth&ndash;years) are hard at work trying to emulate the success garnered by those 
  highly decorated prospects. One unique and irreproducible facet of joining the 
  Militia young is learning first&ndash;hand from successful mentors the traits that 
  transform average hockey players into bona&ndash;fide superstars. We realize that you 
  have a choice when deciding your summer hockey plans. Rest assured, this is an 
  opportunity unlike many others. First, decide how seriously you&apos;d like to take 
  your hockey career. If you&apos;re willing to sacrifice and be pushed beyond your 
  comfort level by elite teammates and coaches, then you&apos;re ready to join the 
  Militia in the battle to take your game to the next level. If you have any 
  questions or are ready to take up our challenge, please contact Nik at 
  <a href="tel:7814244010">781-424-4010</a> or 
  <a href="mailto:militiahockey@yahoo.com">militiahockey@yahoo.com</a>.</p>
  <p><a href="Coaches.php">Read About Our Staff</a></p>
</div>

<div id="refund-panel">
  There are no refunds within 20 days of a tournament. There is a $25 refund charge, 
  and no refunds can be processed after rosters have been submitted.
</div>

<div id="final-panel" class="clearfix">
  <div id="logo-panel">
    <img src="/resources/images/full_logo.png">
  </div>
  <div id="cross-fit-panel">
    Tired of overpaying for training? Tired of paying for PERSONAL 
    training but being treated as just another client? Well worry no more, 
    the Militia Cross Fit training program is a high conditioned strength 
    training program designed for hockey players. Players at the college 
    and pro level come to these cross fit sessions. Click 
    <a href="crossfit.html">here</a> for more details
  </div>
</div>
