<div id="testimonials-container">
  <div id="testimonials-title">
    Testimonials
  </div>
  <div class="testimonial">
    <div class="testimonial-img">
      <img src="/resources/images/testimonials/roenick.png" >
    </div>
    <div class="testimonial-text">
      <span>-Jeremy Roenick (500 goal scorer in 18 NHL seasons)</span>
      "The East Coast Militia reminds me of the type of organization I grew up playing for. The coaching staff all have great backgrounds and really know what it takes to get to that next level. The program works to elevate each players game to that next level and truly demonstrates how far hard work and dedication can take your career."
    </div>
  </div>
  <div class="testimonial">
    <div class="testimonial-img">
      <img src="/resources/images/testimonials/berard.png" >
    </div>
    <div class="testimonial-text">
      <span>-Bryan Berard (1st overall pick in 1995 NHL Draft)</span>
      "The attention and knowledge that the participants in the East Coast Militia program are given by the coaching staff is unmatched in the New England area"
    </div>
  </div>
  <div class="testimonial">
    <div class="testimonial-img">
      <img src="/resources/images/testimonials/kreider.png" >
    </div>
    <div class="testimonial-text">
      <span>-Chris Kreider (NY Rangers)</span>
      "I played for Coach Tasiopoulos in Summer of 2011 and for a young coach he has great control over his players. It is refreshing to play for such a young coach that wants to win just as much as the guys on the ice. I think this is a great program for kids of all ages" 
    </div>
  </div>
  <div class="testimonial">
    <div class="testimonial-img">
      <img src="/resources/images/testimonials/gibbons.png" >
    </div>
    <div class="testimonial-text">
      <span>-Brian Gibbons (Pittsburgh Penguins)</span>
      "The East Coast Militia is a great program with skilled guys of all ages and I wish the organization were around a few years ago so I could have put on the camo jersey myself"
    </div>
  </div>
  <div class="testimonial">
    <div class="testimonial-img">
      <img src="/resources/images/testimonials/warsofsky.png" >
    </div>
    <div class="testimonial-text">
      <span>-Dave Warsofsky (Providence Bruins)</span>
      "The East Coast Militia is a great program that focuses on maximizing a player's talent and molding them into exceptional college hockey players and pros."
    </div>
  </div>
  <div class="testimonial">
    <div class="testimonial-img">
      <img src="/resources/images/testimonials/coyle.png" >
    </div>
    <div class="testimonial-text">
      <span>-Charlie Coyle (1st round NHL draft pick)</span>
      "The Militia is a great program that fields the best players from New England on a regular basis. I look forward to throwing on the camo jersey before I head to play for the Minnesota Wild."
    </div>
  </div>
  <div class="testimonial">
    <div class="testimonial-img">
      <img src="/resources/images/testimonials/moore.png" >
    </div>
    <div class="testimonial-text">
      <span>-John Moore (Columbus Blue Jackets 1st Round Pick)</span>
      "Summer Hockey is such an important part of your development and it is essential to have a great coaching staff that will push you and get you noticed outside of your winter season. That is exactly what the Militia do."
    </div>
  </div>
  <div class="testimonial">
    <div class="testimonial-img">
      <img src="/resources/images/testimonials/hayes.png" >
    </div>
    <div class="testimonial-text">
      <span>-Kevin Hayes (1st Round Chicago Blackhawks Draft Pick/Boston College)</span>
      "I played for Coach Tasiopoulos in summer of 2011 and the talent that was brought together was unbelievable. The program really targets top players and gets the most out of them in the summer when it is sometime tough to be at the top of your game"
    </div>
  </div>
</div>
